@import 'media';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  height: 100%;
  background: #74ebd5;
  background: -webkit-linear-gradient(to top, #ACB6E5, #74ebd5);  
  background: linear-gradient(to top, #ACB6E5, #74ebd5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins';
    
    .header{
      background-image: url(../img/cielo-hermoso.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(10px 10px 10px black);
      -webkit-filter: drop-shadow(5px 10px 20px black);
      margin-bottom: 25px;
      padding: 20px;
      text-align: center;
      
      .titulo{
      font-size: 5vh;
      color: white;
      padding: 20px;
      background: rgba( #005ac2, .5);
      border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      filter: drop-shadow(1px 20px 20px #005ac2);
      -webkit-filter: drop-shadow(1px 20px 20px #005ac2);
    } 
  }

    .main{
      width: 80%;
      display: flex;
      justify-content: center;
      margin: auto;
        .contain{
          width: 100%;
          display: flex;
          .cajas{
            width: 100%;
            display: flex;
            flex-direction: column;
            img{
              width: 180px;
              margin: 20px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              filter: drop-shadow(0px 3px 5px #005ac2);
              -webkit-filter: drop-shadow(0px 3px 5px #005ac2);
            }

            .preguntas{
              padding: 20px;
              display: flex;
              flex-direction: row;
              margin-bottom: 20px;
              align-items: center;
              background: rgba(#005ac2, .3);
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              &:hover{
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transition: transform ease 1s;
                -webkit-transition: transform ease 1s;
                -moz-transition: transform ease 1s;
                -ms-transition: transform ease 1s;
                -o-transition: transform ease 1s;
              }
            }
            .izquierda{
              flex-direction: row-reverse;
            }
          }
        }
    }
    .video {
      width: auto;
    }
    footer {
      color: #74ebd5;
      height: 70px;
      padding: 10px;
      background: #005ac2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        a{
          font-size: 20px;
          i{
            color: #74ebd5;
          }
        }
        .derechos{
          font-size: 11px;
        }
      }
    }
    @media screen and (max-width:600) {
      .preguntas {
        display: flex;
        flex-direction: column;
        img, .pregunta-contenido{
          width: 100%;
        }
      }
    }
}